{%  extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center">
    <div style="padding-top:20px; width:80%; display:inline-block">
        <div class="card">
            <div class="card-header bg-dark text-white">
                .env variables default
            </div>
            <div class="card-body">
                <p class="card-text">DOT_ENV_VARIABLE={{ DOT_ENV_VARIABLE }}</p>
            </div>
        </div>
    </div>
    <div style="padding-top:20px; width:80%; display:inline-block">
        <div class="card">
            <div class="card-header bg-dark text-white">
                ansible groups variables (all + dev, prod ...)
            </div>
            <div class="card-body">
                <p class="card-text">ALL_GROUPVARS_DEV_VARIABLE= {{ ALL_GROUPVARS_DEV_VARIABLE }}</p>
                <p class="card-text">GROUP1_GROUPVARS_DEV_VARIABLE= {{ GROUP1_GROUPVARS_DEV_VARIABLE }}</p>
            </div>
        </div>
    <div style="padding-top:20px; width:80%; display:inline-block">
        <div class="card">
            <div class="card-header bg-dark text-white">
                ansible commons variables
            </div>
            <div class="card-body">
                <p class="card-text">SHARED_PROJECT_VARIABLE={{ SHARED_PROJECT_VARIABLE }}</p>
            </div>
        </div>
    <div style="padding-top:20px; width:80%; display:inline-block">
        <div class="card">
            <div class="card-header bg-dark text-white">
                variable from other project
            </div>
            <div class="card-body">
                <p class="card-text">SHARED_EXTERNAL_API_VARIABLE_1 = {{ SHARED_EXTERNAL_API_VARIABLE_1 }}</p>
                <p class="card-text">SHARED_EXTERNAL_API_VARIABLE_2 = {{ SHARED_EXTERNAL_API_VARIABLE_2 }}</p>
            </div>
        </div>
    </div>
{% endblock %}